body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.4s, color 0.4s;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: left;
    transition: color 0.4s;
}

.light-mode h1 {
    color: #333;
}

.dark-mode h1 {
    color: #f4f4f4;
}

.service-list {
    list-style-type: none;
    padding: 0;
}

.service-item {
    border: 2px ridge #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.4s, border-color 0.4s, box-shadow 0.4s, transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.3), 0 0 30px rgba(0, 255, 0, 0.2);
}

.service-item.active {
    border-color: #0f0;
    animation: border-color-cycle 2s infinite;
}

.service-item.inactive {
    border-color: #f00;
}

.service-item:hover {
    transform: scale(1.05);
}

@keyframes border-color-cycle {
    0% {
        border-color: #0f0;
    }
    25% {
        border-color: #0c0;
    }
    50% {
        border-color: #0a0;
    }
    75% {
        border-color: #080;
    }
    100% {
        border-color: #0f0;
    }
}

.light-mode .service-item {
    background-color: #fff;
    border-color: #ddd;
}

.dark-mode .service-item {
    background-color: #444;
    border-color: #555;
}

.service-item p {
    margin: 5px 0;
}

.service-item strong {
    transition: color 0.4s;
}

.light-mode .service-item strong {
    color: #555;
}

.dark-mode .service-item strong {
    color: #ddd;
}

.chart-container {
    width: 100%;
    height: 400px;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.charts-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    transition: 0.3s;
    min-width: 100%;
    box-sizing: border-box;
}

.dot-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.switch {
    position: absolute;
    top: 45px;
    right: 10%;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 148, 133, 0.3);
    border-radius: 30px;
    transition: 0.4s;
    font-size: 13px;
}

.slider:before {
    position: absolute;
    content: "\2600";
    font-size: 18px;
    left: 4px;
    bottom: 4px;
    color: #c4ec12;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked + .slider:before {
    content: "\1F319";
    transform: translateX(30px);
    color: #000;
}

@media (max-width: 768px) {
    .switch {
        top: 27px;
    }
    
    h1 {
        font-size: 1em;
    }

    .chart-container {
        width: 100%;
    }

    .dot-nav {
        display: flex;
    }
}