body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.4s, color 0.4s;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: left;
    transition: color 0.4s;
}

.light-mode h1 {
    color: #333;
}

.dark-mode h1 {
    color: #f4f4f4;
}

.service-list {
    list-style-type: none;
    padding: 0;
}

.service-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.4s, border-color 0.4s;
}

.light-mode .service-item {
    background-color: #fff;
    border-color: #ddd;
}

.dark-mode .service-item {
    background-color: #444;
    border-color: #555;
}

.service-item p {
    margin: 5px 0;
}

.service-item strong {
    transition: color 0.4s;
}

.light-mode .service-item strong {
    color: #555;
}

.dark-mode .service-item strong {
    color: #ddd;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
.switch {
    position: absolute;
    top: 45px;
    right: 10%;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 148, 133, 0.3);
    border-radius: 30px;
    transition: 0.4s;
    font-size: 13px;
}

.slider:before {
    position: absolute;
    content: "\2600";
    font-size: 18px;
    left: 4px;
    bottom: 4px;
    color: #c4ec12;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked + .slider:before {
    content: "\1F319";
    transform: translateX(30px);
    color: #000;
}
